@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">You Post It, We Type It!</h1>
    <h4 class="display-5">Exciting! Amazing!</h4>

    <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-outline-dark w-25 me-1" asp-action="GoToMessages">Get Started!</a>
        <a class="btn btn-outline-dark w-25 ms-1" asp-action="About">About</a>
    </div>
</div>